<h1>Please enter your login information</h1>
<br><br>
<div *ngIf="isLoginError" class="red-text center error-message">
  <i class="material-icons">error</i> Incorrect username or password
</div>
<form class="example-form" #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
  <mat-form-field class="example-full-width">
      <input matInput type="text" #UserName ngModel name="UserName" placeholder="Email" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input matInput type="password" #Password ngModel name="Password" placeholder="Password" required>
  </mat-form-field>
  <div class="row">
    <div class="input-field col s12">
      <button mat-raised-button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
    </div>
  </div>
</form>
