.container {
    margin: 30px;
    display: flex;
}

.packages {
    width:500px;
}

.buttons {
    margin-top: 15px;
    margin-left: 40%;
    display: flex;
}

.option {
    padding: 0%;
}

#rationale {
    visibility: hidden;
}

.rationale {
    width: 400px;
    height: 30px;
}

.half {
    width: 50%;
    height: fit-content;
}

h2 {
    margin-left: 30px;
}

#acceptButton {
    visibility: visible;
}

#declineButton {
    visibility: visible;
}

#submitRationale {
    visibility: hidden;
}