

.ml-auto {
  left: auto !important;
  right: 0px;
}

nav .navbar-nav li a.home{
  color: #f0f0d0 !important;
}

nav .navbar-nav li a.logout{
  color: #f0f0d0 !important;
}

.default-color {
  background-color: #92273B !important
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

a:hover{
  text-decoration: none;
  background-color: transparent;
  color: white;
}
