

.ml-auto {
  left: auto !important;
  right: 0px;
}

nav .navbar-nav li a.home{
  color: #f0f0d0 !important;
}

nav .navbar-nav li a.logout{
  color: #f0f0d0 !important;
}

.default-color {
  background-color: #92273B !important
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.topNavBar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(21,18,84,1);
  -moz-box-shadow: 0px 2px 6px 0px rgba(21,18,84,1);
  box-shadow: 0px 2px 6px 0px rgba(21,18,84,1);
}

.subNavBar{
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  height: 60px;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 997;
}

a:hover{
  text-decoration: none;
  background-color: transparent;
  color: white;
}


.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
