
.ml-auto {
  left: auto !important;
  right: 0px;
}

nav .navbar-nav li a.home{
  color: #f0f0d0 !important;
}

nav .navbar-nav li a.logout{
  color: #f0f0d0 !important;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.topNavBar{
  -webkit-box-shadow: 0px 2px 6px 0px rgba(21,18,84,1);
  -moz-box-shadow: 0px 2px 6px 0px rgba(21,18,84,1);
  box-shadow: 0px 2px 6px 0px rgba(21,18,84,1);
}

a:hover{
  text-decoration: none;
  background-color: transparent;
  color: white;
}
