
<div *ngIf="isLogged">
  <mat-toolbar class="topNavBar" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>person</mat-icon>
      </button>
      <span>CMS</span>
      <a href="package" mat-button><mat-icon>home</mat-icon>Home</a>
      <a href="search" mat-button><mat-icon>search</mat-icon>Search</a>
      <a href="addcourse" mat-button><mat-icon>add</mat-icon>Add Course</a>
      <a href="calendar" mat-button><mat-icon>calendar_today</mat-icon>Calendar</a>
      <span class="example-spacer"></span>
      <div>
        <a href="" mat-button><mat-icon matBadge="12" matBadgeColor="warn">notifications</mat-icon>
          &nbsp;&nbsp;&nbsp;Notifications</a>
        <a href="" mat-button><mat-icon matBadge="3" matBadgeColor="warn">message</mat-icon>
          &nbsp;&nbsp;&nbsp;Messages</a>
        <a href="" mat-button (click)="logOut()"><mat-icon>directions_walk</mat-icon>Log Out</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>




