.container {
    margin: 30px;
}

.item {
    padding-top: 5%;
    padding-left: 5%;
}

.status {
    font-size: 60%;
    padding-left: 5%;
    padding-top: 1%;
}

.view {
    border:none;
    font-size: 60%;
    padding: 0%;
    color: blue;
    text-decoration: underline;
}