<div class="container">

    <h2>Approval Pipeline Tracking Package (ID: #{{ id }})</h2>

    <table>
        <tbody>
            <tr *ngFor="let item of pipeline; let i=index">
              
                <td  *ngIf="i < packageLocation">
                    <i *ngIf="i != 0" class="material-icons" id="vertical">
                        more_vert
                    </i>
                    <br />
                    <i class="material-icons">
                        assignment_turned_in
                    </i>
                    {{ item }}
                </td>
              
                <td  *ngIf="i == packageLocation">
                    <i *ngIf="i != 0" class="material-icons" id="vertical">
                        more_vert
                    </i>
                    <br />
                    <i class="material-icons">
                        lock
                    </i>
                    {{ item }}
                </td>
                
                <td  *ngIf="i > packageLocation">
                    <i *ngIf="i != 0" class="material-icons" id="vertical">
                        more_vert
                    </i>
                    <br />
                    <i class="material-icons">
                        crop_din
                    </i>
                    {{ item }}
                </td>

                </tr>
            </tbody>
    </table>
</div>