.container {
    margin: 30px;
}

.predefined {
    margin: 3%;
    width: 44%;
    float: left;
}

.custom {
    margin: 3%;
    width: 44%;
    float:left;
}

.select_button {
    margin-left: 80%;
}

.custom_options {
    font-size: 14px;
}