<h1>Welcome User</h1>
<h2>Here are your packages:</h2>

<div *ngFor="let package of packages">
    <mat-card class="container">
        <div class="left">
            <span>Package {{package.id}}</span>
            <div>Progress</div>
            
            <div *ngFor="let request of package.requests">
                <a (click)="packageSelect(package.id, request.id)" href="editForm/{{request.originalId}}">Request: {{request.title}}</a>
            </div>
            <div>
                <a (click)="packageSelect(package.id, 0)" href="search">Create new request</a>
            </div>
        </div>
        <div class="right">
            <button mat-raised-button color="primary">Generate PDF</button>
            <br><br>
            <button mat-raised-button color="primary">Submit for Approval</button>
        </div>
    </mat-card>
    <br>
</div>
<button mat-raised-button color="primary" (click)="createNewPackage()" href="">Create new Package</button>