
.links{
  text-align: left;
  padding-left: 20px;
  color: #f0f0d0;
}

.copyright{
  text-align: right;
  padding-right: 20px;
  color: #f0f0d0;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #f0f0d0;
}

a:visited{
  color: #ffffcc;
}

.footer{
  background-color: #3949ab !important;
  height: 80px;
  grid-area: footer;
}


