footer {
  background: #3949ab;
  color: white;
}

footer .links {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer .links:hover {
  color: #FA944B;
  text-decoration: none;
}

footer .footer-link {
  color: #fff;
  font-size: 12px;
  transition-duration: 0.2s;
}

footer .footer-link:hover {
  color: #FA944B;
  text-decoration: none;
}

footer p {
  margin: 0;
  padding: 0;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

