.links{
  text-align: left;
  padding-left: 20px ;
  color: #f0f0d0;
}

.copyright{
  text-align: right;
  padding-right: 20px;
  color: #f0f0d0;
}

.footer{
  background-color: #92273B !important;
}

a{
  color: white;
}

a:hover{
  color: #f0f0d0;
}

a:visited{
  color: #ffffcc;
}
