<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
</head>

<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 filler">
          <!--Column0-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <li></li>
            </ul>
          </div>
        </div>
        <div class="col-md-1">
          <!--Column1-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <li><a class="links" href="package" mat-button><mat-icon>home</mat-icon>&nbsp;Home</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-1">
          <!--Column2-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <li><a class="links" href="" mat-button><mat-icon>dashboard</mat-icon>&nbsp;About</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-1">
          <!--Column3-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <li><a class="links" href="" mat-button><mat-icon>phone</mat-icon>&nbsp;Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-1">
          <!--Column4-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <li><a class="links" href="" mat-button><mat-icon>supervised_user_circle</mat-icon>&nbsp;Staff</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-1">
          <!--Column5-->
          <div class="footer-pad">
            <ul class="list-unstyled">
              <li><a class="links" href="" mat-button><mat-icon>question_answer</mat-icon>&nbsp;FAQs</a></li>
            </ul>
          </div>
        </div>
        </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center"><a class="footer-link" href="https://github.com/angular/components/blob/master/LICENSE">Code licensed under an MIT-style License.</a></p>
          <p class="text-center">&copy; Copyright 2020 - CMS - Curriculum Management System.  All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
