<title>cms-client</title>
<div class="app-container">
  <router-outlet></router-outlet>
</div>

<app-search-page></app-search-page>

<div class="container" id="listCourses">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/courses" class="btn btn-info"> List Courses</a></li>
            <li class="list-inline-item"><a routerLink="/addcourse" class="btn btn-info">Add Course</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
