
<title>cms-client</title>
<div class="example-container">

<app-top-nav-bar></app-top-nav-bar>

  <mat-sidenav-container class="all-wrap" (backdropClick)="this.sidenav.close()">
    <mat-sidenav class="example-sidenav" #snav (keydown.escape)="this.sidenav.close()" disableClose>
      <mat-nav-list>
        <a mat-list-item routerLink="{{nav.link}}" *ngFor="let nav of fillerNav">{{nav.name}}</a>
        <a mat-list-item href="" (click)="logOut()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="page-wrap img-bg">
      <main class="content">
      <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer></app-footer>

</div>


