table td {
  table-layout:fixed;
  width: 5%;
  overflow:hidden;
  word-wrap:break-word;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
    display: block;
}

table {
    margin: 2%;
}

h4 {
    margin: 2%;
}

.pdf {
    color: blue;
}

a:hover {
    background-color: lightblue;
  }