<app-top-nav-bar></app-top-nav-bar>
<h4>
    Revisions of Dossier #{{ packageId }}
</h4>
<table>
    <td>
        <strong>Review Type</strong>
        <tr *ngFor="let rev of revisions">
            {{ rev.rev_type }}
        </tr>
    </td>
    <td>
        <strong>Modified By</strong>
        <tr *ngFor="let rev of revisions">
            {{ rev.modified_by }}
        </tr>
    </td>
    <td>
        <strong>Modified Date</strong>
        <tr *ngFor="let rev of revisions">
            {{ rev.modified_date }}
        </tr>
    </td>
    <td> 
        <strong>PDF files</strong>
        <tr class="pdf" *ngFor="let revi of revisions">
            <a (click)="viewPDF(revi.pdf)">revision{{ revi.rev }}.pdf</a>
        </tr>
    </td>
</table >

<app-footer></app-footer>